img {
    width: 100px;

}

.cabecalho {
    width: 1400px;
    height: 100px;
    background-color: rgb(175, 137, 211);

}

.primeirasecao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1400px;
    height: 500px;
    background-color: rgb(116, 45, 182);

}

.divisao {
    width: 800px;
    height: 800px;
    background-color: rgb(175, 137, 211);

}